/* Allgemeingültige Formatierungen */
html,
body {
    width: 100%;
    /* Standardabstände entfernen, für durchgängige Border (z.B. im Footer */
    background-color: #F8F8F8;
}

footer {
    display: flex;
    justify-content: space-around;
    border-top: 0.1rem solid;
    border-color: #e26105;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    max-width: 1920px;
}

footer a {
    text-decoration: none;
    color: #252525;
    margin-right: 1rem;
    margin-left: 2rem;
}

/*index.html Formatierungen*/
#portfolio {
    font-family: "Hepta-Slab";
    font-weight: 200;
    text-align: center;
    font-size: 5em;
}

.align {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Profilsektion Größen und Abstände festlegen*/
#profil {
    height: 100%;
    border-radius: 0% 30px 30px 30px;
    background-color: #FEC267;
    padding-block-start: 2rem;
    width: 75%;
}

#profilbild {
    max-width: 100%;
    margin-left: 7px;
}

/* Social Abschnitt Abstände */
#social {
    width: 100%;
    background-color: #ffebdc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

/*Anordnung LinkedIn Link + Text nebeneinander*/
#linkedin-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #252525;
}

#social a {
    text-decoration: none;
}

.align p {
    font-family: "nunito";
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 100%;
}

/* Kontakt Button Formatierung */
#social [role="button"] {
    border: 0.1rem solid;
    border-color: #e26105;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-family: "nonito";
    padding: 0.6rem;
    border-radius: 20px;
    font-weight: 200;
    font-size: 1.2em;
    background-color: #f8f8f8;
    color: #252525;
}

/* Akzente im Text setzen mit dem "Span" Element*/
.farbig {
    color: #24512e;
    font-size: 1.1em;
}

#ctaflex {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Bild in den Hintergrund & Größe festlegen*/
.teaser img {
    object-fit: cover;
    width: 750px;
    height: 500px;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
}

/*Link Unterstriche entfernen*/
.teaser a {
    text-decoration: none;
}

/*div Abstände und Größe der Teaser festlegen*/
.teaser {
    width: 70vw;
    height: 40vh;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 4rem;
    position: relative;
    overflow: hidden;
}

/* Text Projekte & Erfahrung + Musik & Playlists vor dem Bild platzieren und formatieren */
.teaser h2 {
    position: relative;
    z-index: 1;
    text-align: start;
    color: #f7f7f7;
    font-family: "Hepta-Slab";
    font-weight: 200;
    background-color: #24512e;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    font-size: 2em;
    box-sizing: border-box;
    max-width: 750px;
}

/*contact.html Formatierungen*/
#mainkontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#einleitungstext {
    width: 80vw;
    max-width: 600px;
    text-align: left;
}

#einleitungstext p {
    line-height: 23px;
    font-family: "Nunito";
}

#kontaktformular{
    width: 80vw ;
    max-width: 600px;
}
#dropdownmenü {
    font-family: "Nunito"
}

#kontakt {
   font-family: "Hepta Slab";
    font-weight: 400;
    font-size: 4em;
    text-align: left;
    color: #24512e;
}

#anliegen {
    margin-bottom: 2rem;
    border-radius: 30px;
    padding: 10px;
}

/*Persönliche Informationen Fieldset formatierungen*/
fieldset {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
    height: 300px;
    border-color: #24512e;
    font-family: "Nunito";
    background-color: #ffffff;
}

/*Sternchen hinter jedem Pflichtfeld im Formular platzieren*/
label[for][class="form-label"]::after {
    content: " *";
    color: #b32525;
  }
  
/*Überschrift Fieldset*/
legend {
    margin-bottom: 15px;
    font-family: "Hepta Slab";
    font-size: 1.2em;
    color: #24512e;
}

/*Beschriftungen und Textfelder übereinander positionieren*/
.eingabefeld {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
}

#vorname {
    border-radius: 30px;
    padding: 10px;
    max-width: 250px;
}

#nachname {
    border-radius: 30px;
    padding: 10px;
    max-width: 250px;
}

#email {
    border-radius: 30px;
    padding: 10px;
    max-width: 250px;
}

/*Nachricht-Feld formatierungen*/
#kontaktnachricht {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80vw;
    max-width: 600px;
    font-family: "Nunito";
}

#nachricht {
    max-width: 400px;
    height: 100px;
    resize: none;
    line-height: 20px;
}

/*Absenden Button formatieren*/
#absenden {
    border-radius: 30px;
    padding: 10px;
    width: 140px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e26105;
    font-family: "Hepta Slab";
    font-size: 1.1em;
}

#standorttext{
    width: 80vw;
    max-width: 600px;
}

#standorttext p{
    margin: 4px;
    font-family: "Nunito";
    font-size: 1.2em;
}

/*Eingebettete Karte formatieren*/
#standort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 3rem;
}
.fa-map-pin {
    color: #d13131;
}

#karte {
    height: 100%;
    width: 100%;
}

#standort-karte {
    border: 0.1rem solid;
    border-color: #e26105;
    border-radius: 30px;
    max-width: 600px;
    width: 80vw;
    height: 40vh;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    margin-top: 1rem;
}


/*Breakpoint bei 1024px*/
@media (min-width: 1024px) {
    #mainportfolio {
        display: flex;
        gap: 5rem;
        max-width: 1920px;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }

    #portfolio {
        position: relative;
        font-size: 6.5em;
        transform: translateX(260%);
        top: 0;
        display: none;
    }

    #profil {
        width: 40vw;
        min-height: 90vh;
        max-width: 60vh;
        margin-top: 3rem;
        margin-left: 13rem;
    }

    #ctaflex {
        margin-top: 8rem;
    }

    .teaser {
        width: 40vw;
        max-width: 750px;
        min-height: 40%;
    }

}


