<div class="menu-container">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-button">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav class="nav">
        <ul>
            <li><a href="index-en.html">Portfolio</a></li>
            <li><a href="projects-en.html">Projects &amp; Experience</a></li>
            <li><a href="music_playlists-en.html">Music &amp; Playlists</a></li>
            <li><a href="contact-en.html">Contact</a></li>
        </ul>
        <div id="language-switcher">
            <button onclick="switchLanguage('de')" aria-label="Switch language to German">
                <img src="images/de.png" alt="Deutsch">
            </button>
            <button onclick="switchLanguage('en')" aria-label="Switch language to English">
                <img src="images/gb.png" alt="English">
            </button>
        </div>
    </nav>
</div>